

<div class="container">
    <div class="header">
        <h1>Our Team</h1>
    </div>
    <div class="sub-container">
        <div class="teams">
            <img src="svg/profile1.svg" alt="">
            <div class="name">Ahmed Gamal</div>
            <div class="desig">Developer</div>
            <div class="about">Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum labore quam
                reprehenderit
                vitae aliquam dicta! </div>

            <div class="social-links">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-github"></i></a>
            </div>
        </div>

        <div class="teams">
            <img src="svg/profile2.svg" alt="">
            <div class="name">Ahmed Hesham</div>
            <div class="desig">Developer</div>
            <div class="about">Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum labore quam
                reprehenderit
                vitae aliquam dicta! </div>

            <div class="social-links">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-github"></i></a>
            </div>
        </div>

        <div class="teams">
            <img src="svg/profile3.svg" alt="">
            <div class="name">Mostafa</div>
            <div class="desig">Developer</div>
            <div class="about">Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum labore quam
                reprehenderit
                vitae aliquam dicta! </div>

            <div class="social-links">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-github"></i></a>
            </div>
        </div>
        <div class="teams">
            <img src="svg/profile3.svg" alt="">
            <div class="name">Micheal</div>
            <div class="desig">Developer</div>
            <div class="about">Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum labore quam
                reprehenderit
                vitae aliquam dicta! </div>

            <div class="social-links">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-github"></i></a>
            </div>
        </div>
        <div class="teams">
            <img src="svg/profile3.svg" alt="">
            <div class="name">Mohamed Souror </div>
            <div class="desig">Developer</div>
            <div class="about">Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum labore quam
                reprehenderit
                vitae aliquam dicta! </div>

            <div class="social-links">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-github"></i></a>
            </div>
        </div>
        <div class="teams">
            <img src="svg/profile3.svg" alt="">
            <div class="name">Mohamed Kaoud</div>
            <div class="desig">Developer</div>
            <div class="about">Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum labore quam
                reprehenderit
                vitae aliquam dicta! </div>

            <div class="social-links">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-github"></i></a>
            </div>
        </div>
    </div>
</div>  
