<!-- <input type="file" (change)="addImage($event)"/> -->
<div class="container">
<div [formGroup]="productform" style="margin-top: 30px;">
    <div class="form-group">
      <label for="Productname">Product name</label>
      <input formControlName="productname" type="text" class="form-control" id="productname" placeholder="product name" [class.is-valid]="!productform.controls['productname'].errors" [class.is-invalid]="productform.controls['productname'].errors" >
      <div class="text-danger" *ngIf="productform.controls['productname'].errors">  
        <small  *ngIf="productform.controls['productname'].hasError('required')" class="form-text text-danger">Required Field</small>
        <small  *ngIf="productform.controls['productname'].hasError('minlength')" class="form-text text-danger">Min Length</small>
        <small  *ngIf="productform.controls['productname'].hasError('maxlength')" class="form-text text-danger"> Max Length </small>
    </div>
    </div>
    <div class="form-outline">
        <label for="description">Description</label>
        <textarea formControlName="productdesc" class="form-control" id="description" rows="4" placeholder="Description" [class.is-valid]="!productform.controls['productdesc'].errors" [class.is-invalid]="productform.controls['productdesc'].errors"></textarea>
        <div class="text-danger" *ngIf="productform.controls['productdesc'].errors">
            <small  *ngIf="productform.controls['productdesc'].hasError('required')" class="form-text text-danger">Required Field</small>
            <small  *ngIf="productform.controls['productdesc'].hasError('minlength')" class="form-text text-danger">Min Length</small>
            <small  *ngIf="productform.controls['productdesc'].hasError('maxlength')" class="form-text text-danger">Max Length</small>
        </div>
    </div>
    <div class="form-outline" style="width: 22rem;">
        <label class="form-label" for="form1">Price</label>
        <i class="fas fa-dollar-sign trailing"></i>
        <input formControlName="productprice" type="text" id="price" class="form-control form-icon-trailing"/>
        <div class="text-danger" *ngIf="productform.controls['productprice'].errors">
            <small  *ngIf="productform.controls['productprice'].hasError('min')" class="form-text text-danger"> Below minimum number</small>
            <small  *ngIf="productform.controls['productprice'].hasError('required')" class="form-text text-danger">Required Field</small>
        </div>
    </div>
    <div class="form-outline" style="width: 22rem;">
        <label class="form-label" for="form1">Stock</label>
        <i class="fas fa-dollar-sign trailing"></i>
        <input formControlName="productstock" type="number" id="stock" class="form-control form-icon-trailing" />
        <div class="text-danger" *ngIf="productform.controls['productstock'].errors">
            <small  *ngIf="productform.controls['productstock'].hasError('min')" class="form-text text-danger"> Below minimum number</small>
            <small  *ngIf="productform.controls['productstock'].hasError('required')" class="form-text text-danger">Required Field</small>
        </div>
    </div>
    <div class="form-outline" style="width: 22rem;">
        <label class="form-label" for="form1">rate</label>
        <i class="fas fa-dollar-sign trailing"></i>
        <input formControlName="productrate" type="text" id="rate" class="form-control form-icon-trailing" />
        <div class="text-danger" *ngIf="productform.controls['productstock'].errors">
            <small  *ngIf="productform.controls['productrate'].hasError('min')" class="form-text text-danger"> Below minimum number</small>
            <small  *ngIf="productform.controls['productrate'].hasError('required')" class="form-text text-danger">Required Field</small>
            <small  *ngIf="productform.controls['productrate'].hasError('max')" class="form-text text-danger"> Exceeded maximum number</small>
        </div>
    </div>
    <div class="form-group">
        <label class="float-left">Select Category</label>
        <select class="form-control"  name="select" id="select" formControlName="productcategory">
        <option value="option1">option1</option>
        <option value="option2">option2</option>
        <option value="option3">option3</option>
        </select>
        <div>
         <small  *ngIf="productform.controls['productcategory'].hasError('required')" class="form-text text-danger"> Please select a category</small>
        </div>
        </div>
      <label class="form-label" for="customFile">Select image</label>
      <input formControlName="productimage" type="file" class="form-control" id="customFile" /><br>
      <div>
        <small  *ngIf="productform.controls['productimage'].hasError('required')" class="form-text text-danger"> Please select an image</small>
       </div>
      <button type="button" [disabled]="productform.invalid" class="btn btn-primary">Submit</button>
    </div>
</div>