<div class="container">
    <div class="row mt-5">
      <div class="spContainer mx-auto">
        <div class="card px-4 py-5 border-0 shadow">
          <div class="d-inline text-left mb-3">
            <h3 class="text-center font-weight-bold">Register</h3>
            <p class="text-center">Welcome To The E-Commerce Website</p>
          </div>
          <div class="d-inline text-center mb-0">
            <div class="form-group mx-auto">
              <input class="text-center form-control inpSp" type="text" placeholder="Username">
            </div>
          </div><div class="d-inline text-center mb-0">
            <div class="form-group mx-auto">
              <input class="text-center form-control inpSp" type="email" placeholder="E-Mail">
            </div>
          </div>
          <div class="d-inline text-center mb-0">
            <div class="form-group mx-auto">
              <input class="text-center form-control inpSp" type="password" placeholder="Password">
            </div>
          </div>
          <div class="d-inline text-center mb-0">
            <div class="form-group mx-auto">
              <input class="text-center form-control inpSp" type="password" placeholder="Confirm Password">
            </div>
          </div>
          <div class="d-inline text-center mb-3">
            <div class="form-group mx-auto">
              <input class="text-center form-control inpSp" type="tel" placeholder="Phone">
            </div>
          </div>
          <div class="d-inline text-left mb-3">
            <div class="form-group mx-auto" style="padding-left: 47%;">
              <button class="btn mx-auto btn-default btn-primary">Register</button>
            </div>
          </div>
       
          
            <div class="d-inline text-left mt-3">
            <div class="form-group mx-auto mb-0">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>