<!-- <div class="container" style="width: 100%;">
  <div class="row mt-5" style="width: 100%;">
    <div class="spContainer mx-auto">
      <div class="card px-4 py-5 border-0 shadow">
        <div class="d-inline text-left mb-3">
          <h3 class="text-center font-weight-bold">Register</h3>
          <p class="text-center">Welcome To The E-Commerce Website</p>
        </div>
        <form [formGroup]="authRegistrationDto" (submit)="submit()">
        <div class="d-inline text-center mb-0">
          <div class="form-group mx-auto">
            <b style="margin-left: -3%;">Username </b><input class="text-center form-control inpSp" formControlName="userName" type="text" placeholder="Username"
            [class.is-valid]="!authRegistrationDto.controls['userName'].errors"
            [class.is-invalid]="authRegistrationDto.controls['userName'].errors">
          </div>
        </div><div class="d-inline text-center mb-0">
          <div class="form-group mx-auto">
            <b style="margin-left: -1%;">E-mail </b><input class="text-center form-control inpSp" formControlName="email" type="email" placeholder="E-Mail"
            [class.is-valid]="!authRegistrationDto.controls['email'].errors"
            [class.is-invalid]="authRegistrationDto.controls['email'].errors">
          </div>
        </div>
        <div class="d-inline text-center mb-0">
          <div class="form-group mx-auto">
            <b style="margin-left: -3%;">Password </b><input class="text-center form-control inpSp" formControlName="password" type="password" placeholder="Password"
            [class.is-valid]="!authRegistrationDto.controls['password'].errors"
            [class.is-invalid]="authRegistrationDto.controls['password'].errors">
          </div>
        </div>
        
        <div class="d-inline text-center mb-3">
          <div class="form-group mx-auto">
            <b style="margin-left: -1%;">Phone </b><input class="text-center form-control inpSp" formControlName="phone" type="tel" placeholder="Phone" maxlength="11"
            [class.is-valid]="!authRegistrationDto.controls['phone'].errors"
            [class.is-invalid]="authRegistrationDto.controls['phone'].errors">
          </div>
        </div>
        <div class="d-inline text-center mb-3">
          <div class="form-group mx-auto">
            <b style="margin-left: -11%; padding-left: 10%;">Male </b><input [checked]="true" class="form-check-input" value="true" formControlName="isMale" type="radio" >
            <b style="margin-left: 6%;">Female</b><input class="form-check-input" formControlName="isMale" type="radio" value="false">

          </div>
        </div>
        <div class="d-inline text-left mb-3">
          <div class="form-group mx-auto" style="padding-left: 35%;">
            <button style="width: 30%;border-radius: 20px;" class="btn mx-auto btn-default btn-primary" [disabled]="!authRegistrationDto.valid" type="submit"><i class="bi bi-box-arrow-in-right"></i> Register</button>
            <a class="text-black text-center center font-weight-bold regStr" routerLink="/login" style="margin-left: 1%;">Already Have An Account?</a>
          </div>
          </div>
        </form>
        
          <div class="d-inline text-left mt-3">
          <div class="form-group mx-auto mb-0">
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->

<div class="wrapper">
  <div class="logo">
    <img src="https://www.freepnglogos.com/uploads/wave-png/drawing-waves-png-pictures-13.png" alt="">
</div>
<div class="text-center mt-4 name">
    E-Mart
</div>
<form class="p-3 mt-3" [formGroup]="authRegistrationDto" (submit)="submit()">
    <div class="form-field d-flex align-items-center">
        <span class="bi bi-person" style="font-size:x-large;"></span>
        <input formControlName="userName" type="text" name="userName" id="userName" placeholder="Username"
        [class.is-valid]="!authRegistrationDto.controls['userName'].errors">
    </div>
    <div class="form-field d-flex align-items-center">
      <span class="bi bi-envelope-at" style="font-size:x-large;"></span>
      <input formControlName="email" type="email" placeholder="E-mail"
      [class.is-valid]="!authRegistrationDto.controls['email'].errors">
  </div>
    <div class="form-field d-flex align-items-center">
        <span class="bi bi-key-fill" style="font-size:x-large;"></span>
        <input formControlName="password" name="password" id="pwd" placeholder="Password" [type]="showPass?'password':'text'"
        [class.is-valid]="!authRegistrationDto.controls['password'].errors">
        <button mat-icon-button matSuffix (click)="showPass = !showPass" [attr.aria-label]="'Hide Password'" type="button">
          <mat-icon [class]="showPass ? 'bi bi-eye-slash-fill' : 'bi bi-eye-fill'" ></mat-icon>
        </button>
    </div>

<div class="form-field d-flex align-items-center">
    <span class="bi bi-phone" style="font-size:x-large;"></span>
    <input formControlName="phone" type="tel"  placeholder="Phone Number"
    [class.is-valid]="!authRegistrationDto.controls['phone'].errors" maxlength="11">
</div>


    <div class="input-group" style=" margin-left: 20%;" >
      <div class="p-t-10">
        
        <label class="radio-container m-r-45">Male
          <input type="radio" checked="checked" formControlName="isMale" value="true">
          <span class="checkmark"></span>          
          </label>
          <label class="radio-container">Female
            <input type="radio"  formControlName="isMale" value="false">
            <span class="checkmark"></span>
            </label>
      </div>
    </div>
   
    <button class="btn mt-3" type="submit" [disabled]="!authRegistrationDto.valid">Sign Up</button>
</form>
<div class="text-center fs-6">
    <a routerLink="/login">Already Have An Account?</a>
</div>
</div>
