<div class="row mt-3" *ngIf="products && products.length >=1">
    <div class="col-md-4" *ngFor="let product of products">
      <div class="col-sm-6">
        <img [src]="product.imagePath" *ngIf="product.imagePath" alt="" width="300px" height="400px">
        <div class="card-body">
          <h1 class="card-title">{{product.name}}</h1>
          <mat-divider class="m-2"></mat-divider>
          <p class="card-text lead">${{product.price}}</p>
        </div>
        <div class="card-footer">
        </div>
      </div>
    </div>
  </div>


<p>sddsds</p>
