
<div class="banner" >
  <div style="padding: 200px;font-size: xx-large;">
    <b>AN INDEPENDENT CREATIVE AGENCY</b><br/><br>
    <i>Making things</i><br/><br>
    <i>happen since 2001</i><br>
    <button mat-button style="margin-left: 300px; margin-top: -40px; background-color: rgba(0, 56, 152,0.3);font-size: medium" routerLink="/login" 
    *ngIf="!authService.isLoggedIn()">Shop Now</button>
  </div>
</div>
 <div >
  <div style="width: 325px;">
    <h1 style="padding-top: 50px;text-align: left;margin-left: 10px;font-size: 45px;" ><b> New Arrivals</b>
    </h1>
    <mat-divider class="m-2" style="border: 1px solid rgb(227, 178, 86)"></mat-divider>
  </div>
  
  <div class="search-hero">
    <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="Start searching for a product by name">
  </div>
<div class="row md-5">
  <div class="card mx-auto col-md-3 col-10 mt-5" *ngFor="let product of products | filter:searchText" style="background: none;">
      <img class='mx-auto img-thumbnail'
          [src]="product.imagePath"
          width="300px" height="300px" style="background: none; width:300px;height:300px;overflow: hidden;"/>
      <div class="card-body text-center mx-auto">
          <div class='cvp' >
            
            <div class="container">
              <div class="row">
                
                <table class="table">
            
                  <tbody>
                  <tr >
                    <td>
                      <<h2 class="card-title font-weight-bold">{{product.name}}</h2>
                    <p class="card-text">EGP{{product.price}}</p>
                    <a (click)="viewProductDetails(product)" class="btn details px-auto">View Details</a><br />
                    <a  (click)="addProductToCart(product)" *ngIf="authService.isLoggedIn() && authService.isCustomer()" class="btn cart px-auto">ADD TO CART</a>
                    </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
      </div>
  </div>

</div>
