<div class="container m-2 p-2">
  <div class="row justify-content-center mb-2">
    <h2 style="font-family: 'Anton', sans-serif" class="text-center">
      Latest Products
    </h2>
  </div>
  <mat-divider class="m-2" style="width: 100%; border: 1px solid black;"></mat-divider>

<div class="row mt-md-5" *ngIf="products && products.length >=1">
    <div class="col-md-3" *ngFor="let product of products">
      <div class="col-xxl-auto container">
        <div class="wrapper">
          <div class="banner-image">
        <img [src]="product.imagePath" *ngIf="product.imagePath" alt="" width="100%" height="300px">
          </div>
          <h1 class="card-title">{{product.name}}</h1>
          <p class="card-text">${{product.price}}</p>
        </div>
        <div class="button-wrapper"> 
          <button class="btn outline"(click)="viewProductDetails(product)" style="margin-bottom: 3%;">DETAILS</button>
            <button class="btn fill" (click)="addProductToCart(product)" *ngIf="authService.isLoggedIn() && authService.isCustomer()">Add To Cart</button>
          </div>
            </div>
      </div>
      
       
      
    </div>

