
<table class="table table-hover">
    <thead>
        <tr >
            <th>#</th>
            <th>Name</th>
            <th>Price</th>
            <th>Stock</th>
            <th>Rate</th>
            <th>update</th>
            <th>delete</th>
          </tr>
        <tr *ngFor="let product of products">
            <th>{{product.id}}</th>
            <td class="btn btn-link" (click)="viewProductDetails(product)">{{product.name}}</td>
            <td><input type="number" [(ngModel)]="product.price"></td>
            <td><input type="number" [(ngModel)]="product.stock"></td>
            <td>{{product.rate}}</td>
            <td><button type="button" class="btn btn-secondary btn-sm" (click)="updateProduct(product)">Update</button></td>
            <td><button type="button" class="btn btn-danger btn-sm" (click)="deleteProduct(product)">Delete</button></td>
          </tr>
    </thead>
</table>


