<div class="container">
    <div class="row justify-content-center">
        <div [formGroup]="submitForm">
            <div style="border-radius: 16px; border: 1px solid;" class="mt-5">
                <legend>Address</legend>
                <div class="d-block my-3 form-check group-gap">
                    <div class="custom-radio" *ngFor="let item of addressCustomer; let i = index">
                        <input id="i" type="radio" class="form-control-input" name="address" [value]="item"
                            formControlName="address">
                        <label class="form-control-label" for="i">{{viewAddress(item)}} </label>
                    </div>
                </div>
                <button type="button" class="ml-2 btn btn-sm btn-link active" (click)="setNewAddress()">New
                    Address</button>
            </div>

            <fieldset style="border-radius: 16px; border: 1px solid red;" class="mt-2" [hidden]="chooseAddress()">
                <legend>New Address</legend>
                <div [formGroup]="addressForm">
                    <input type="number" id="floor" class="form-control" placeholder="Floor Number" name="floor"
                        formControlName="floor" class="input-group-sm m-3 ">
                    <input type="number" id="build" class="form-control" placeholder="Building Number" name="build"
                        formControlName="build" class="input-group-sm m-3">
                    <input type="text" id="street" class="form-control" placeholder="Street" name="street"
                        formControlName="street" class="input-group-sm m-3">
                    <input type="text" id="area" class="form-control" placeholder="Area" name="area"
                        formControlName="area" class="input-group-sm m-3">
                    <button type="button" class="btn btn-danger btn-sm m-3" (click)="submitAddress()"
                        [disabled]="addressForm.invalid">Add Address</button>
                </div>
            </fieldset>

            <fieldset style="border-radius: 16px; border: 1px solid;" class="mt-5">
                <legend for="paymentType">Payment Type</legend>
                <div class="d-block my-3 form-check group-gap">
                    <div class="form-check">
                        <input type="radio" class="form-control-input" name="payment" value="0" id="cash"
                            formControlName="payment">
                        <label class="form-control-label" for="cash"><i class="bi bi-cash-stack"></i> Cash </label>
                    </div>
                    <div class="form-check">
                        <input type="radio" class="form-control-input" name="payment" value="1" id="card"
                            formControlName="payment">
                        <label class="form-control-label" for="card"> <i class="bi bi-credit-card-2-front"></i>Credit Card </label>
                    </div>
                    <div class="form-check">
                        <input type="radio" class="form-control-input" name="payment" value="2" id="wallit"
                            formControlName="payment">
                        <label class="form-control-label" for="wallit"><i class="bi bi-wallet2"></i> Wallet </label>
                    </div>
                </div>
            </fieldset>
            <fieldset style="border-radius: 16px; border: 1px solid red;" class="mt-2" [hidden]="chooceCard()">
                <legend>Credit Card Information</legend>
                <div [formGroup]="paymentForm">
                    <div class="form-group">
                        <label for="cc-number" class="control-label">CARD NUMBER</label>
                        <input id="cc-number" type="tel" class="input-lg form-control cc-number "
                            autocomplete="cc-number" formControlName="cardNumber" name="cardNumber"
                            placeholder="&bull;&bull;&bull;&bull; &bull;&bull;&bull;&bull; &bull;&bull;&bull;&bull; &bull;&bull;&bull;&bull;"
                            required>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="cc-exp" class="control-label">CARD EXPIRY</label>
                                <input id="cc-exp" type="tel" class="input-lg form-control cc-exp input-group-sm"
                                    formControlName="cardExpiry" name="cardExpiry" placeholder="&bull;&bull; / &bull;&bull;">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="cc-cvc" class="control-label">CARD CVC</label>
                                <input id="cc-cvc" type="tel" class="input-lg form-control cc-cvc input-group-sm"
                                    placeholder="&bull;&bull;&bull;" formControlName="cardCVC" name="cardCVC">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="numeric" class="control-label">CARD HOLDER NAME</label>
                        <input type="text" class="input-lg form-control" formControlName="cardName" name="cardName">
                    </div>
                </div>
            </fieldset>
            <div class="mt-4 d-flex justify-content-center">
                <button type="button" class="btn btn-success btn-lg " (click)="confirmOrder()"
                    [disabled]="valid()">Submit</button>
            </div>
        </div>
    </div>
</div>