<div class="container">
    <div class="row mt-5">
      <div class="spContainer mx-auto">
        <div class="card px-4 py-5 border-0 shadow">
          <div class="d-inline text-left mb-3">
            <h3 class="text-center font-weight-bold">Login</h3>
            <p class="text-center">Welcome To The E-Commerce Website</p>
          </div>
          <form [formGroup]="authCredentialsDto" (submit)="submit()">
          <div class="d-inline text-center mb-0">
            <div class="form-group mx-auto">
              <input class="text-center form-control inpSp" type="text" formControlName="userName" placeholder="Username">
            </div>
          </div>
          <div class="d-inline text-center mb-3">
            <div class="form-group mx-auto">
              <input class="text-center form-control inpSp" [type]="showPass?'password':'text'" formControlName="password" placeholder="Password">
              <button mat-icon-button matSuffix (click)="showPass = !showPass" [attr.aria-label]="'Hide Password'" type="button">
                <mat-icon>{{showPass ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            </div>
          </div>
          <div class="d-inline text-left mb-3">
            <div class="form-group mx-auto" style="padding-left: 40%;">
              <button class="btn mx-auto btn-default btn-primary" type="submit" [disabled]="!authCredentialsDto.valid">Login</button>
              <a class="text-black text-center center font-weight-bold regStr" routerLink="/register" style="margin-left: 1%;">Register new account</a>

            </div>
          </div>
        </form>
       
          
            <div class="d-inline text-left mt-3">
            <div class="form-group mx-auto mb-0">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>